* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #1f2937, #374151);
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.todo-box {
    width: 100%;
    max-width: 450px;
    background: #1e293b;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.todo-box h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #e5e7eb
}

.input-area {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.input-area input {
    flex: 1;
    padding: 12px;
    border: 2px solid #475569;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    transition: 0.3s;
}

.input-area input:focus {
    border-color: #4facfe;
}

.input-area button {
    padding: 12px 18px;
    border: none;
    border-radius: 10px;
    background: #475569;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.input-area button:hover {
    background: #334155;
}

.top-actions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.clear-btn {
    border: none;
    background: #b45309;
    color: white;
    padding: 10px 16px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.clear-btn:hover {
    background: #92400e;
}

.todo-list {
    list-style: none;
}

.todo-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
    margin-bottom: 12px;
    background: #334155;
    border-radius: 12px;
    transition: 0.3s;
}

.todo-list li:hover {
    transform: translateY(-2px);
}

.todo-list li span {
    color: #e5e7eb
}

.completed span {
    color: #94a3b8;
}

.actions {
    display: flex;
    gap: 8px;
}

.edit-btn {
    border: none;
    background: #0f766e;
    color: white;
    padding: 8px 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.edit-btn:hover {
    background: #115e59;
}

.delete-btn {
    border: none;
    background: crimson;
    color: white;
    padding: 8px 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.delete-btn:hover {
    background: darkred;
}

@media (max-width: 500px) {
    .input-area {
        flex-direction: column;
    }

    .input-area button {
        width: 100%;
    }
}